.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:100;
}
.header_logo{
    object-fit:contain;
    height:140px;
    background-color: #F54D70;
}
.header_icon{
    padding:40px;
    color: white !important;
    font-size:50px !important;
}
.header_icon:hover{
    cursor:pointer;
    transform: scale(1.5,1.5);
}