.SwipeButtons{
    position:fixed;
    bottom:3vh;
    display:flex;
    justify-content:space-between;
    width:100%;
    margin-left:20vh;
    margin-right:5vh;
}
.SwipeButtons .MuiIconButton-root{
    background-color:white;
    box-shadow:0px 10px 53px 0px rgba(0,0,0,0.3)!important;
}
.swipeButtons_replay{
    padding:3vw !important;
    color:#f5b748 !important;
}
.swipeButtons_starrate{
    padding:3vw !important;
    color:#ec5e6f !important;
}
.swipeButtons_favorites{
    padding:3vw !important;
    color:#63b4f9 !important;
}
.FlashIcon{
    padding:3vw !important;
   color:#76e2b3 !important;
}
.swipeButtons_close{
    padding:3vw !important;
    color:#915dd1!important;
}